<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Food Diary Directory</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content" ng-app="diaryAppHCP" ng-controller="diaryCtrl as ctrl">
		<h1>Search for Patient's Food Diary</h1>
							<!-- container for searching diary entries -->
		<div class="generic-container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading ">Search Food Diary Entries by Patient</div>
						<div class="panel-body">
							<form class="form-horizontal" role="form" name="viewLogForm" ng-submit="ctrl.getEntriesName()">
								<br>
								<!-- row that contains all interactive fields -->
								<div class="row">
									<!-- name -->
									<div class="col-md-6">
										<label>Patient name:</label>
										<div class="row">
											<div class="col-md-7">
												<input type="text" class="form-control"
													placeholder="Ex. John Doe" name="searchPatientName"
													ng-model="ctrl.searchPatientName" required />
											</div>
										</div>
									</div>
									<!-- submit button -->
									<div class="col-md-6">
										<label>Submit:</label>
										<div class="row">
											<div class="col-md-4">
												<button type="submit" class="btn btn-success"
													ng-disabled="!viewLogForm.$valid"
													name="submit">Search For Diary Entries</button>
											</div>
										</div>
									</div>
								</div>
							</form>
							<br/>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:include="diaryTable :: diaryTable"></div>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-mocks.js"></script>
	    <script th:inline="javascript">
			/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
			/*<![CDATA[*/
			var app = angular.module('diaryAppHCP',['ngMockE2E']);
			
			angular.module('diaryAppHCP').factory('diaryService', ['$http', '$q', '$httpBackend', function( $http, $q, $httpBackend) {
				
				var REST_SERVICE_URI = '/iTrust2/api/v1/diaryentries';
				
				// Initializes data for mock GET request
				self.genDiaryEntries = function (name) {
					var mockDiaryEntries = [];
					for (var i = 0; i < 10; i++) {
						mockDiaryEntries.push({
							patientName: name,
							date: "10/3/2018",
							mealType: "Lunch",
							name: "bagel",
							servings: i % 3 + 1,
							caloriesPerServing: i * 13 + 100,
							fat: i * 4 + i % 2,
							sodium: i + (i % 2) * 3,
							carbs: i % 3 * 2,
							sugar: i % 2 + 10 + i,
							fiber: i + i % 3,
							protein: i % 4
						});
					}
					return mockDiaryEntries;
				}
				
				$httpBackend.whenRoute('GET', REST_SERVICE_URI + '/:name')
				   .respond(function(method, url, data, headers, params) {
				   return [200, self.genDiaryEntries(params.name)];
				});
				
				// Services
				var factory = {
					getEntriesNameService: getEntriesNameService
				};
				
				return factory;
				
				function getEntriesNameService(name) {
					var deferred = $q.defer();
					$http.get(REST_SERVICE_URI + '/' + name)
						.then(
						function(response) {
							deferred.resolve(response.data);
						},
						function(errResponse) {
							console.error('Error while getting diary entries (getEntriesService)')
							deferred.reject(errResponse);
						}
					);
					return deferred.promise;
				}

			}]);
			
			angular.module('diaryAppHCP').controller('diaryCtrl', ['$scope', 'diaryService', function( $scope, diaryService ) {
				var self = this;
				
				self.diaryEntryMaster = [];
				self.remoteUser = /*[[${#httpServletRequest.remoteUser}]]*/null;
				$scope.patientName = "...";
				self.searchPatientName = null;
				
				/** Updates the diary entry table for a HCP user or a patient */
				function updateDiaryTable(data) {

					// Update the master list of diary entries
					self.diaryEntryMaster = data;
					// Get the user's name
					$scope.patientName = self.diaryEntryMaster[0].patientName;

					// Calculate nutrient totals
				}

				/** Gets diary entries given a patients name */
				self.getEntriesName = function() {
					diaryService.getEntriesNameService(self.searchPatientName).then(updateDiaryTable, function(err) {
							console.error('Error while getting diary entries (getEntriesName)');
						});
				}
				
			}]);
			/*]]>*/
		</script>
		
		<!-- Navigate back to HCP landing page -->
		<a href="/iTrust2/hcp/index">HCP Home Page</a>
		
	</div>
</body>
</html>